<!-- Reusable Bulk Operations Modal -->
<div class="modal fade" id="bulkOperationsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bulk Operations</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <!-- Operations Selection -->
                <div id="bulk-operation-content">
                    <p>Select an operation to perform on <span id="selected-count">0</span> selected items:</p>

                    <div class="list-group" id="bulk-operations-list">
                        <!-- Operations will be populated by JavaScript -->
                    </div>
                </div>

                <!-- Form Container -->
                <div id="bulk-form-container" style="display: none;">
                    <button type="button" class="btn btn-link p-0 mb-3" onclick="bulkManager.backToOperationsMenu()">
                        <i class="bi bi-arrow-left"></i> Back to operations
                    </button>
                    <form id="bulkOperationForm">
                        <div id="form-fields">
                            <!-- Form fields will be populated by JavaScript -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="executeBulkBtn" onclick="bulkManager.executeOperation()" style="display: none;">Execute</button>
            </div>
        </div>
    </div>
</div>
